body {
    background-image: url('pictures/background.jpg');
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
}
h1 {
    text-align: center;
}
#container {
    float: center;
    display: grid;
    height: 60vmin;
    width: 60vmin;
    border: 5px solid gray;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    text-align: center;
}