body {
    background-image: url('pictures/background.jpg');
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
}
.green-border {
    border: 4px solid rgb(0, 130, 0);
}

h1 {
    text-align: center;
}
#above-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

#grid-input {
    text-align: center;
    background-color:rgba(200, 200, 200, 0.8);
    border-radius: 5px;
}
#container {
    float: center;
    display: grid;
    height: 60vmin;
    width: 60vmin;
}
.cell {
    background-color: white;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    text-align: center;
}